/* brand buttons section */
@media screen and (min-width: 750px) {
  .brand-button-main-container {
    width: 70%;
    margin: 0 auto;
  }
}

.btn-title {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}
.brand-btn-container {
  background: #f3f3f3;
  padding: 10px;
  text-align: center;
}
.button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* brand section  */

.collection-image {
  aspect-ratio: 1.51;
}
.collection-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.brand-container {
  position: relative;
}
.brand-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.view-all-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  text-decoration: underline;

}
.brand-main-title {
  font-size: 20px;
  color: #000;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
