.header__icon--menu {
  position: initial;
}
.js menu-drawer > details > summary::before,
.js menu-drawer > details[open]:not(.menu-opening) > summary::before {
  content: '';
  position: absolute;
  cursor: default;
  width: 100%;
  height: calc(100vh - 100%);
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  top: 100%;
  left: 0;
  background: rgba(var(--color-foreground), 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity 0s, visibility 0s;
}
menu-drawer > details[open] > summary::before {
  visibility: visible;
  opacity: 1;
  transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
}
.menu-drawer::-webkit-scrollbar {
  display: none;
}
.menu-drawer {
  position: absolute;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));
}
.js details[open] > .menu-drawer,
.js details[open] > .menu-drawer__submenu {
  transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}
.no-js details[open] > .menu-drawer,
.js details[open].menu-opening > .menu-drawer,
details[open].menu-opening > .menu-drawer__submenu {
  transform: translateX(0);
  visibility: visible;
}
.js .menu-drawer__navigation .submenu-open {
  visibility: hidden;
  /* hide menus from screen readers when hidden by submenu */
}
/* .menu-drawer__details[open] .menu-drawer__menu-item::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 3rem;
  left: 0;
  background-color: #D9D9D9;
} */
@media screen and (min-width: 450px) {
  .menu-drawer {
    width: 45rem;
    border-width: 0 var(--drawer-border-width) 0 0;
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
  }
  .no-js .menu-drawer {
    height: auto;
  }
}
.menu-drawer__inner-container {
  position: relative;
  height: 100%;
}
.menu-drawer__navigation-container::-webkit-scrollbar {
  display: none;
}
.menu-drawer__navigation-container {
  display: grid;
  grid-template-rows: 1fr auto;
  align-content: space-between;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 3rem;
}
.menu-drawer__inner-submenu {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu-drawer__inner-submenu .link--text {
  color: #000;
}
.menu-drawer__navigation > ul.menu-drawer__menu.list-menu:not(:empty):last-of-type {
  margin-bottom: 10rem;
}
.no-js .menu-drawer__navigation {
  padding: 0;
}
.no-js .menu-drawer__navigation > ul > li {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
}
.no-js .menu-drawer__submenu ul > li {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
}
.menu-drawer__menu-item {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 1);
}
.menu-drawer__submenu .menu-drawer__menu.level-2 {
  gap: 1.4rem;
}
.menu-drawer__submenu.has-submenu .menu-drawer__menu.level-2 {
  gap: 0.6rem;
  padding: 1.4rem 0.8rem;
}
.menu-drawer__menu.level-3 {
  gap: 0.8rem;
  padding: 0.8rem;
}
.menu-drawer__menu.level-3 .menu-drawer__menu-item {
  font-weight: 400;
  font-size: 1.4rem;
}
.menu-drawer__details svg {
  transition: rotate 0.3s ease;
}
.menu-drawer__details[open] svg {
  rotate: 180deg;
}
.no-js .menu-drawer__menu-item {
  font-size: 1.6rem;
}
.no-js .menu-drawer__menu-item .icon-caret {
  right: 3rem;
}
.no-js .menu-drawer .icon-arrow {
  display: none;
}
.menu-drawer__menu-item > .icon-arrow {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.js .menu-drawer__submenu {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(var(--color-background));
  z-index: 1;
}
.js .menu-drawer__submenu .menu-drawer__submenu {
  overflow-y: auto;
}
.menu-drawer__close-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  background-color: transparent;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  text-align: left;
  margin: 1.5rem;
}
.no-js .menu-drawer__close-button {
  display: none;
}
.menu-drawer__close-button .icon-arrow {
  transform: rotate(180deg);
  margin-right: 1rem;
}
.menu-drawer__utility-links {
  padding: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  position: relative;
}
.header--has-social .menu-drawer__utility-links {
  padding: 2rem 3rem;
}
@media screen and (max-width: 749px) {
  .header--has-account:where(:not(.header--has-social):not(.header--has-localizations)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 989px) {
  .header--has-localizations:where(:not(.header--has-social)) .menu-drawer__utility-links {
    padding: 2rem 3rem;
  }
  .header__menu-item.new-link {
    padding: 0;
  }
}
.header__menu-item.link-block {
  font-size: 1.6rem;
}
.menu-drawer__account {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  margin-bottom: 0;
}
.menu-drawer__utility-links:has(.menu-drawer__localization) .menu-drawer__account {
  margin: 0;
}
.menu-drawer__account .icon-account {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.menu-drawer__account:hover .icon-account {
  transform: scale(1.07);
}
.menu-drawer .list-social {
  justify-content: flex-start;
  margin-left: -1.25rem
}
.menu-drawer .list-social:empty {
  display: none;
}
.menu-drawer .list-social__link {
  padding: 1.1rem 1.1rem;
}
.menu-drawer__top-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "top-left heading top-right";
  align-items: center;
  padding: 1.8rem 1.6rem 2rem;
}
.hamburger-close-btn {
  grid-area: top-right;
  justify-self: self-end;
}
.hamburger-close-btn:hover {
  cursor: pointer;
}
.menu-image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}
.menu-image a {
  width: 100%;
  max-width: 37.5rem;
}
.menu-image img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.menu-image-text {
  position: absolute;
  margin-bottom: 2.4rem;
  color: #ffffff;
  text-transform: capitalize;
}
@media screen and (max-width: 749px) {
  .menu-drawer__navigation-container {
    height: 85%;
  }
}
.menu-drawer__inner-container{
  padding: 0 2rem;
}
.menu-drawer__navigation .menu-drawer__menu.list-menu:not(:nth-child(1)), .menu-drawer__navigation .menu-drawer__menu.list-menu.level-1>li {
    border-bottom: 1px solid #D9D9D9;
}
.menu-drawer__menu li{
  padding: 1rem 0;
}