.metafeild-imagecontainer img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.metafield-rich_text_field li{
    font-size: 20px;
}
.metafield-rich_text_field p strong{
    font-size: 24px;
}
.image-meta-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.image-meta-container{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid black;

}
.bundle-price{
    display: none;
}
.bundle{
    padding-bottom: 1.5rem;
}
.product-bundle-image-text{
    display: flex;
    gap: 1.4rem;
    align-items: center;
}
.bundle-product-title{
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.bundle-product-price{
    display: none;
}
.bundle-add-to-cart{
    width: 100%;
    background: none;
    padding: 16px;
    font-size: 14px;
    color: #000;
    font-weight: 500;
    border: none;

}
.add-tocart-container:hover{
    border: 2px solid black;

}
.add-tocart-container{
    height: 48px;
    width: 100%;
    border: 1px solid black;
    position: relative;
}
.bundle-spinner{
    left: 50%;
}


/* styleing for product variant options  */

.related-product-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.related-product input[type=radio]:checked+ .image-meta-container-1{
    border: 1px solid black;
}
.image-meta-container-1{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;

}
.image-meta-container-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
